body{
    width: 100%;
    text-align: center;
    background-color: bisque;
}

h1{
font-size: 32px;
font-family: tahoma,sans-serif ;
text-align: center;
margin-top:0 ;
color: #000000;
}

h2{
font-size: 24px;
margin-top: 80px;

}
h3{
    padding-top: 30px;
}

h4{
    padding:30px ;
}
hr{
 background-color: #d5d5d5;
}
span{
    font-weight: bold;
}

p{

font-size: 20px;
line-height:28px ;
margin:50px ;
color: #000000;
}

div{
    font-size: 19px;
    font-family: Tahoma, sans-serif;
    font-weight:normal ;
    color:black;
    text-align: center;
    
    margin-bottom: 80px;
    
    }

a{
font-size:19px ;
font-family:tahoma,sans-serif ;
color:#F5F5F5;
background-color:#49b970;
border-radius:25px;
border-style: solid;
text-decoration: none;
margin-bottom: 50px;
padding: 10px 30px;
}

img{
   width: 190px;
}



























